[Unit]
Description=Run wrapper.sh

[Service]
Type=oneshot
ExecStart=/opt/kifs/wrapper.sh
TimeoutStartSec=8h
WorkingDirectory=/opt/kifs
User=root
[Install]
WantedBy=multi-user.target
