[Unit]
Description=Schedule wrapper.sh nightly

[Timer]
OnCalendar=*-*-* 12:00:00
Persistent=true
Unit=analysis.service
[Install]
WantedBy=timers.target
