[Unit]
Description=Run wrapper.sh to fetch & analyze shogi kifu

[Service]
Type=oneshot
WorkingDirectory=/home/%u/kifs/service
ExecStart=sudo /home/%u/wrapper.sh
TimeoutStartSec=8h
